/* ==========================================================================
	 Base Styles
	 ========================================================================== */ 

:root {
  --white: #fff;
  --yellow: rgb(255, 204, 102);
  --light-blue: rgb(0, 187, 255);
  --dark-grey: #2c2c2c;
  --black: rgb(26, 26, 26);
  --purple: rgb(187, 136, 255);
}
*,
*::before,
*::after {
 box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.root {
  overflow: hidden;
}
.page {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &.button--blue {
    background-color: var(--light-blue);
  }
  &.button--yellow {
    background-color: var(--yellow);
  }
}

/* ==========================================================================
	 Typography
	 ========================================================================== */ 

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bold {
  font-weight: bold;
}
p {
  &:last-child {
    margin-bottom: 0;
  }
}

/* ==========================================================================
	 Forms
	 ========================================================================== */

.form label {
  display: inline-block;
  margin-bottom: .5rem;
}
.form input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid var(--white);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus {
    color: #212529;
    background-color: var(--white);
    border-color: var(--yellow);
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--yellow);
  }
}
.form__group {
  margin-bottom: 1rem;
}

/* ==========================================================================
	 Card generator
	 ========================================================================== */ 

.card-generator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-generator__container {
  width: 48rem;
}
.card-generator__columns {
  display: flex;
  background-color: var(--dark-grey);
  padding: 1rem;
}
.card-generator__column {
  position: relative;
  width: 50%;
  padding: 1rem;
}
.card-generator h2 {
  color: var(--white);
  text-align: center;
}
.card-generator h3 {
  color: var(--light-blue);
}
.card-generator label {
  color: var(--white);
}
.card-generator__errors {
  padding: 2rem;
  text-align: center;
  color: var(--yellow);
}
.card-generator__errors p {
  font-weight: bold;
  margin: 0 0 0.75rem;
}
.card-generator__card {
  display: flex;
  align-items: center;
  aspect-ratio: 16/9;
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 0.15rem var(--white);
  background: var(--white);
  background: linear-gradient(118deg, rgba(255,255,255,1) 0%, rgba(177,177,177,1) 100%); 
  color: var(--black);
}
.card-generator__group {
  margin-bottom: 0.5rem;
  &:last-child {
    margin-bottom: 0;
  }
}
.card-generator__loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ==========================================================================
	 Clicker
	 ========================================================================== */

.clicker {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clicker h2 {
  color: var(--white);
  text-align: center;
}
.clicker__container{
  display: flex;
  flex-direction: column;
  width: 30rem;
  background-color: var(--white);
}
.clicker__screen {
  font-size: 5.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16/9;
  background: var(--white);
  background: linear-gradient(118deg, rgba(255,255,255,1) 0%, rgba(177,177,177,0.25) 100%); 
}
.clicker__buttons {
  display: flex;
}
.clicker__button {
  cursor: pointer;
  width: 33.333333%;
  height: 5rem;
  border: 0;
  border-radius: 0;
}
.clicker__button--minus {
  font-size: 3rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--light-blue);
}
.clicker__button--reset {
  font-size: 1.125rem;
  background-color: var(--yellow);
}
.clicker__button--plus {
  font-size: 3rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--purple);
}

/* ==========================================================================
	 Digital clock
	 ========================================================================== */ 

.digital-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digital-clock h2 {
  text-align: center;
  color: var(--white);
}
.digital-clock__container {
  border: solid 1px var(--white);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  aspect-ratio: 25/9;
}
.digital-clock__time {
  color: var(--light-blue);
  font-size: 5.25rem;
}

/* ==========================================================================
	 User feed
	 ========================================================================== */ 

.user-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}   
.user-feed h2 {
  color: var(--white);
  text-align: center;
}   
.user-feed__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 40rem;
  margin-bottom: 3rem;
}
.user-feed__content {
  display: flex;
  padding: 1.5rem 0;
  align-items: flex-end;
  height: 100%;
}
.user-feed__content p {
  margin: 0 0 0.5rem;
  &:last-child {
    margin: 0;
  }
}
.user-feed__user-wrapper {
  position: relative;
  width: 30rem;
  aspect-ratio: 16/9;
}
.user-feed__user {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--white);
  background: linear-gradient(118deg, rgba(255,255,255,1) 0%, rgba(177,177,177,1) 100%); 
  border-radius: 0.5rem;
  border: solid 0.15rem var(--white);
}
.user-feed__img {
  aspect-ratio: 1/1;
  width: 6rem;
}
p.user-feed__name {
  font-size: 1.3125rem;
  margin-bottom: 1rem;
}
.user-feed__email {
  font-size: 0.875rem;
}
.user-feed__btn {
  cursor: pointer;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  background-color: transparent;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
}
.user-feed__btn--prev {
  transform: rotate(180deg);
}
.user-feed__progress {
  display: flex;
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: -2.3rem;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
}
.user-feed__progress button {
  cursor: pointer;
  font-size: 2rem;
  border: 0;
  color: var(--white);
  background-color: transparent;
  line-height: 0;
  height: 1.5rem;
  width: 1.5rem;
  &.selected {
    color: var(--light-blue);
  }
}
.user-feed__left-col {
  width: 55%;
  padding: 0 1rem 0 2rem;
}
.user-feed__right-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  height: 100%;
  padding: 0 2rem 0 1rem;
}
.user-feed__loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ==========================================================================
	 Image gallery
	 ========================================================================== */ 

 .image-gallery h2 {
  color: var(--white);
  text-align: center;
 }  
 .image-gallery__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
  margin: 0 auto 3rem;
 }
 .image-gallery__btn {
  cursor: pointer;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  background-color: transparent;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
}
.image-gallery__btn--prev {
  transform: rotate(180deg);
}
 .image-gallery__img-wrapper {
  position: relative;
  width: 30rem;
  aspect-ratio: 14/9;
 }

 .image-gallery__img {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
 }
 .image-gallery__user-wrapper {
  position: relative;
  width: 30rem;
  aspect-ratio: 16/9;
 }
 .image-gallery__loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.image-gallery__progress {
  display: flex;
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: -2.3rem;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
}
.image-gallery__progress button {
  cursor: pointer;
  font-size: 2rem;
  border: 0;
  color: var(--white);
  background-color: transparent;
  line-height: 0;
  height: 1.5rem;
  width: 1.5rem;
  &.selected {
    color: var(--light-blue);
  }
}

/* ==========================================================================
	 Quote generator
	 ========================================================================== */ 
   .quote-generator {
    text-align: center;
   }
   .quote-generator h2 {
    color: var(--white);
    text-align: center;
   }  
   .quote-generator__container {
    width: 48rem;
    margin: 0 auto;
   }
   .quote-generator__blockquote {
    font-size: 24px;
    font-style: italic;
    color: var(--white)
   }